// Greys
$color-grey-mercury       : #E2E2E2;
$color-grey-mid-grey      : #666570;
$color-grey-abbey         : #4A4A52;
$color-grey-tuna          : #3C3C42;
$color-grey-shark         : #2E2E33;
$color-grey-black-russian : #212124;
$color-grey-woodsmoke     : #151516;
$color-grey-black         : #0A0A0A;

// Colors:
$color-netflix-red        : #E50914;
